<div class="container-fluid">
	<div class="row" id="character-modal-firstrow">
		<div class="col-xs-2" id="character-modal-sprite">
			<img src="{{ character.sprite }}" title="{{ character.name }}"/>
		</div>
		<div class="col-xs-10" id="character-modal-asl">
			<span id="character-modal-gender" value="{{ character.gender }}"></span><br>
			<span id="character-modal-nation" value="{{ character.nation }}">{{ character.nation }}</span><br>
			Hometown: {{ character.location }}
		</div>
	</div>
	<div class="row" id="character-modal-secondrow">
		<div id="svgcol">
			<div id="character-modal-backing-hex">
				<svg xmlns="http://www.w3.org/2000/svg"
			    xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" style="width:100%; height:100%" viewBox="0 0 16 16">

				<text x="8" y="1.5" font-size="0.9" stroke="black" stroke-width="0.01" text-anchor="middle" fill="black">HP</text>
				<text x="15" y="4.7" font-size="0.9" stroke="black" stroke-width="0.01" text-anchor="middle" fill="black">SP</text>
				<text x="15" y="11.5" font-size="0.9" stroke="black" stroke-width="0.01" text-anchor="middle" fill="black">STR</text>
				<text x="8" y="15" font-size="0.9" stroke="black" stroke-width="0.01" text-anchor="middle" fill="black">DEX</text>
				<text x="0.8" y="11.5" font-size="0.9" stroke="black" stroke-width="0.01" text-anchor="middle" fill="black">AGI</text>
				<text x="0.8" y="4.7" font-size="0.9" stroke="black" stroke-width="0.01" text-anchor="middle" fill="black">INT</text>

			    <polygon points="8,2 14,5 14,11 8,14 2,11 2,5"
					style="stroke:#777777; fill:none; stroke-width: 0.07"/>

				<polygon points="8,3 13,5.5 13,10.5 8,13 3,10.5 3,5.5"
					style="stroke:#777777; fill:none; stroke-width: 0.07"/>

				<polygon points="8,4 12,6 12,10 8,12 4,10 4,6"
					style="stroke:#777777; fill:none; stroke-width: 0.07"/>

				<polygon points="8,5 11,6.5 11,9.5 8,11 5,9.5 5,6.5"
					style="stroke:#777777; fill:none; stroke-width: 0.07"/>

				<polygon points="8,6 10,7 10,9 8,10 6,9 6,7"
					style="stroke:#777777; fill:none; stroke-width: 0.07"/>

				<polygon points="8,7 9,7.5 9,8.5 8,9 7,8.5 7,7.5"
					style="stroke:#777777; fill:none; stroke-width: 0.07"/>

				<line x1="8" x2="8" y1="2" y2="14" style="stroke:#777777; fill:none; stroke-width: 0.07"/>

				<line x1="2" x2="14" y1="5" y2="11" style="stroke:#777777; fill:none; stroke-width: 0.07"/>

				<line x1="2" x2="14" y1="11" y2="5" style="stroke:#777777; fill:none; stroke-width: 0.07"/>
				{% if browser_check == true %}
					<polygon points="8,8 8,8 8,8 8,8 8,8 8,8" style="stroke:#333333; fill:{{ stat_coordinates.color }}; opacity: 0.5; stroke-width: 0.1">
					<animate id="animation" attributeName="points" attributeType="XML" to="{{ stat_coordinates.coordinates }}" 
							begin="0.1s" calcMode="spline" keyTimes="0;0.9" keySplines="0.42, 0, 0.9, 0.9" dur="0.9s" fill="freeze" /></polygon>
				{% else %}
					<polygon points="{{ stat_coordinates.coordinates }}" style="stroke:#333333; fill:{{ stat_coordinates.color }}; opacity: 0.5; stroke-width: 0.1">
					</polygon>
				{% endif %}
				</svg>
			</div>
		</div>
	</div>

	<div class="row" id="character-modal-thirdrow">
		{{ character.description | raw }}
	</div>

</div>